<div align="left" >
<h3>Rails App for Devise with CanCan and Twitter Bootstrap</h3>

<p>Rails 3.2 example application shows how to use <a href="http://github.com/plataformatec/devise">Devise</a> with <a href="https://github.com/ryanb/cancan">CanCan</a> and <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>

<ul>
<li>
<a href="http://github.com/plataformatec/devise">Devise</a> gives you ready-made authentication and user management.</li>
  <li>
<a href="https://github.com/ryanb/cancan">CanCan</a> provides authorization for administrator access.</li>
  <li>
<a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a> is a front-end framework for CSS styling.</li>
</ul>

<p>Best of all, there’s a <a href="https://tutorials.railsapps.org/rails3-bootstrap-devise-cancan">detailed tutorial</a> to show how it’s built.</p>


</div>